*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #000;
    --color: #fff;
    --green: #14cc9e;
    --gray-1: #78909c;
    
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--color);
}