*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #000;
    --color: #fff;
    --green: #14cc9e;
    --gray-1: #78909c;
    --gray-2: #263238;
    --gray-3: #cfd8dc;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    /* outline: 1px solid red; */
    width: 95%;
    max-width: 1200px;

    margin: 7rem auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 5rem;
}

.texts {
    width: 90%;
    max-width: 500px;
}

.texts__title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.texts__paragraph {
    color: var(--gray-1);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    background-color: var(--gray-2);
    /* flex-grow: 80%;*/
    flex-basis: 572px;
    /* flex-shrink: 100px;  */

    overflow: hidden;
    border-radius: 5px;
}

.card__texts{
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__img{
    width: 100%;
    aspect-ratio: 16/9;
}

.card__title {
    font-size: 1.1rem;
}
.card__date {
    color: var(--gray-1);
    font-size: .9rem;
}
.card__paragraph {
    color: var(--gray-3);
}

.card__paragraph span{
    color: #14cc9e;
    cursor: pointer;
}

.card__paragraph span:hover{
    opacity: .6;
}

.cta {
    background-color: var(--green);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--background);
    padding: .7rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 6px 10px #14cc9e3f;
    margin-bottom: 1rem;
    transition: all .2s ease-out;
}

.cta:hover{
    color: var(--color);
    box-shadow: 0 6px 10px #14cc9e3f,
                0 6px 15px #14cc9e3f,
                0 6px 20px #14cc9e3f;
    transform: scale(1.05);
    transition: all .3s ease-in;
}

@media (width >= 768px){
    .card{
        flex-basis: 350px;
    }
}